{% extends 'product/detail.html' %}
{%block category_active%} active {%endblock%}
{% block body %}
<div class="albums-container container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3>username: {{ user.username }}</h3>
        </div>
        {% for category in all_categories %}
            <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'product:products' category_slug=category.category_slug %}">

                            <div class="caption">
                                <h3>{{ category.name }}</h3>
                                <h5>{{ category.description }}</h5>
                            </div>
                        </a>
                    </div>
            </div>
        {% endfor %}
        <div class="col-sm-4 col-lg-2">
            <div class="thumbnail">
                <a href="{%url 'product:24-only' %}">
                    <div class="caption">
                        <h3><font color="red"> 24 hours</font></h3>
                        <h5>Posted 24 hours ago</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}